@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}


/* --------------------------------- heading -------------------------------- */

.heading{
    width: 35vw;
    text-align: center;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
}

.heading-top{
    margin-top: 60px;
    font-weight: 200;
    opacity: 0.8;
}

.heading-middle{
    opacity: 0.8;
}

.heading-text{
    margin-top: 15px;
    opacity: 0.5;
}


/* ------------------------------ card section ------------------------------ */


.card-section{
    margin: 10px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-1{
    flex: 1;
    margin: 10px;
}

.card{
    min-height: 220px;
    height: auto;
    width: 100%;
    margin: 30px 5px;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, .1);
    position: relative;
    box-sizing: border-box;
}

.card-heading{
    margin-left: 10px;
    font-weight: 600;
}

.card-text{
    margin: 10px 30px 0px 10px;
    font-weight: 500;
    font-size: 0.85rem;
    opacity: 0.4;
}

.card-icon{
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.left-card{
    border-top: 1mm solid #43D3D1;
}

.middle-top-card{
    border-top: 1mm solid #DB3B5A;
}

.middle-bottom-card{
    border-top: 1mm solid #FEBF03;
}

.right-card{
    border-top: 1mm solid #559EEC;
}

@media only screen and (max-width: 1500px) {
    body{
        max-width: 100%;
    }

    .card-section{
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card{
        margin: 25px auto;
        max-width: 380px;
    }
}